<div class="am-message result" style="background-size: 100% 0;margin-top: 1%;border-top: 1px solid #e5e5e5;" [hidden]="close">
  <div [hidden]="flag === '1' || flag === '2'" style="height: 30px;">
    <img src="../../../assets/main/my_success.png" style="width: 24px;height: 24px;margin-top: -12px;">
    <span *ngIf="cihuo !== '1'" style="font-size: 18px;color: #333333;font-weight: bolder;">补货成功</span>
    <span *ngIf="cihuo === '1'" style="font-size: 18px;color: #333333;font-weight: bolder;">撤货成功</span>
    <p style="font-size: 12px;color: #F6151C">(如数量不对请点击修正，补货输入正数，拿货输入负数！并与后台人员联系修正补货数，所有补货数据以系统为准！！！)</p>
  </div>

  <div style="margin-top: 55px">
    <a [hidden]="item.changeNum > 0 && flag === '1'" href="javascript:void(0);" *ngFor="let item of replenishList;let i = index" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" [src]="img+item.pic" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">{{item.itemName}}</h4>
        <h5 style="margin-top: 1px" class="weui-media-box__desc">{{turnText(item)}}
          <button class="fixed-button" [hidden]="flag === '1' || flag === '2'" (click)="fixedNum(item, i)">修正数量</button>
        </h5>
      </div>
    </a>
  </div>
  <div style="margin-top: 18px;margin-bottom: 5px;">
    <button nz-button nzType="default" (click)="exit()">返回首页</button>
  </div>

</div>

<div [hidden]="more" class="weui-panel weui-panel_access">
  <div style="font-size:12px; margin: 15px 5px;padding: 5px;color: #b0b0b0;border: 1px solid #b0b0b0;">
    <p><i class="anticon anticon-exclamation-circle-o"></i>&nbsp;温馨提示：</p>
    <p>为了您的账户资金安全，确认商品后请及时<a href="javascript:void(0)">关闭箱门</a>，系统将自动
      结算。若长时间忘记关门，则可能造成商品丢失，相关费用将从您的账户扣取！</p>
    <p style="border: 2px dashed #ffffda;margin-top: 15px;"></p>
  </div>
  <div class="weui-panel__hd">您已拿取商品</div>
  <div class="weui-panel__bd">
    <a [hidden]="item.changeNum === 0" href="javascript:void(0);" *ngFor="let item of goodsList" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" [src]="img+item.pic" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">{{item.itemName}}</h4>
        <!--<h5 style="float: left;margin-top: 1px" class="weui-media-box__desc">{{turnText(item.changeNum)}}</h5>-->
        <span style="float: right;" class="weui-media-box__desc">商品数量×{{item.changeNum}}</span>
      </div>
    </a>
  </div>
</div>

<div class="am-message result" style="background-size: 100% 0;margin-top: 25%" [hidden]="single">
  <div class="am-message-sub">
    <img style="width: 100%;" src="../../../assets/main/tips.png" alt="">
  </div>
</div>
<nz-modal [nzVisible]="isVisibleOpen" [nzContent]="modalContent" [nzFooter]="modalFooter" [nzClosable]="false">
  <ng-template #modalContent>
    <p [hidden]="flag === '1' || flag === '2'" style="font-size: medium;">您的门还未关闭！优水到家提醒您,提水后请随手关门！</p>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="openOk()">好的</button>
  </ng-template>
</nz-modal>
<nz-modal [nzVisible]="isVisibleFixed" [nzContent]="modalContentFixed" [nzFooter]="modalFooterFixed" [nzClosable]="false">
  <ng-template #modalContentFixed>
    <nz-input-number style="width: 99%;" [(ngModel)]="num" [nzPlaceHolder]="'请输入桶数'" [nzMin]="-9999" [nzMax]="99999999"
                     [nzStep]="1"></nz-input-number>
  </ng-template>
  <ng-template #modalFooterFixed>
    <button nz-button nzType="primary" (click)="fixedYes()">修改</button>
  </ng-template>
</nz-modal>
<nz-modal [nzVisible]="isVisibleWarn" [nzContent]="modalContentWarn" [nzFooter]="modalFooterWarn" [nzClosable]="false">
  <ng-template #modalContentWarn>
    <p>请检查补货数量是否正确，如不正确请点击修正数量校准！</p>
  </ng-template>
  <ng-template #modalFooterWarn>
    <button nz-button nzType="primary" (click)="yes()">确定</button>
  </ng-template>
</nz-modal>
